.cart {
  padding: 0 20px;
  align-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &__product {
    width: 100%;
    max-width: 345px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 20px 10px;
  }

  &__product-picture-box {
    padding-right: 10px;
  }

  &__product-picture {
    width: 150px;
    height: 190px;
    object-fit: contain;
  }

  &__product-info {
    max-width: 250px;
  }

  &__product-desc {
    padding-bottom: 20px;
  }

  &__product-control {
    display: flex;
    flex-direction: column;
  }

  &__product-control-confirm {
    background-color: #6A983C;
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    width: 144px;
    height: 37px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 7px;

    &:hover {
      background-color: #558029;
    }
  }

  &__default-text {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}